<div class="header">Genres</div>

<div class="genres">
    <% @genres.each do |genre| %>
        <% movies = genre.movies.sort_by{|movie| movie.title}.compact %>

        <% if movies != [] %>
            <div class="card">
                <h1><%= genre.name %>:</h1>

                <% movies.each do |movie| %>
                    <div class="card-item">
                        <a class="title" href="/movies/<%= movie.id %>"><%= movie.title %></a>
                    
                        <span> 
                            Starring: 
                        </span>

                        <% movie.actors.sort_by{|actor| actor.name}.each do |actor| %>
                            <span><%= actor.name %></span>
                        <% end %><br>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>