<h1>Genres:</h1>

<% @genres.each do |genre| %>
    <% movies = genre.movies.sort_by{|movie| movie.title}.compact %>

    <% if movies != [] %>
        <h2><%= genre.name %></h2>

        <% movies.each do |movie| %>
            <strong><a href="/movies/<%= movie.id %>"><%= movie.title %></a></strong><br><br>
            <strong>Starring: </strong>
            <% movie.actors.sort_by{|actor| actor.name}.each do |actor| %>
                <li><%= actor.name %></li>
            <% end %><br>
        <% end %>
    <% end %>
<% end %>