<h1>Actors:</h1>

<% @actors.each do |actor| %>
    <% if actor.name != "" && !actor.movies.empty? %>
        <a href="/actors/<%= actor.id %>"><h2><%= actor.name %></h2></a>
    
        <strong>Movies:</strong>

        <br><br>

        <% actor.movies.sort_by{|movie| movie.title}.compact.each do |movie| %>
            <strong><a href="/movies/<%= movie.id %>"><%= movie.title %></a></strong><br><br>
        <% end %>
    <% end %>
<% end %>
