<h1><%= @actor.name %></h1>

<% movies = Movie.all.collect{ |movie| movie if movie.actors.ids.include?(@actor.id)} %>

<% if @actor.name != "" && !@actor.movies.empty? %>
    <strong>Movies:</strong>

    <br><br>

    <% movies.compact.each do |movie| %>
        <strong><a href="/movies/<%= movie.id %>"><%= movie.title %></a></strong><br><br>
    <% end %>
<% end %>
