<h1>Your movies:</h1>


<% @movies.each do |movie| %>
    <h2><%= movie.title %></h2>

    <% movie.genre.each do |genre| %>
        <li><%= genre.name %></li>
    <% end %>

    <% movie.actors.each do |actor| %>
        <li><%= actor.name %></li>
    <% end %>
<% end %>