<div class="header">Available movies:</div>

<% if !@movies.empty? %>
    <div class="card">
        <% @movies.each do |movie| %>
            <div class="card-item"><a href="/movies/<%= movie.id %>"><%= movie.title %></a></div>
        <% end %>
    </div>
<% else %>
    <h3>There are currently no movies in our database. You can contribute by adding one below!</h3>
<% end %>

<br>

<% if logged_in? %>
    <form action="/movies/new" method="get">
        <input class="button" type="submit" value="Create Movie">
    </form>
<% end %>