<div class="header">Users:</div>

<div class="card">
    <% @users.each do |user| %>
        <div class="card-item">
            <a href="/users/<%= user.id %>"><%= user.username %></a></.>
        </div>
    <% end %>
</div>