<div class="login">
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <div>
      <input class="form-field" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input class="form-field" type="email" name="email" placeholder="Email">
    </div>
    <div>
      <input class="form-field" type="password" name="password" placeholder="Password">
    </div>
    <br>
    <div class="signup-button">
      <input class="button" type="submit" value="Sign Up">
    </div>
  </form>
  <br>
  <form action="/login" method="get">
    <div>
      <input class="button" type="submit" value="Log In">
    </div>
  </form>
</div>
