<h1><%= @user.username %></h1>

<% @user.movies.each do |movie| %>
    <h2><%= movie.title %></h2>

    <% movie.genres.each do |genre| %>
        <li><%= genre.name %></li>
    <% end %>

    <% movie.actors.each do |actor| %>
        <li><%= actor.name %></li>
    <% end %>
<% end %>