<div class="welcome">
    <div class="header">Welcome To My Movie MCV!</div>
    <div class="header"><a href="/login">Log in</a> or <a href="/signup"> Sign up</a> to start or view your movie collection!</div>
</div>